# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
/Etaprojekti2014/nbproject/private/
/Etaprojekti2014/build/Debug/
/Etaprojekti2014/dist/Debug/
/Etaprojekti2014/build/
/Etaprojekti2014/dist/
/t1/dist/
/t1/build/
/t2/dist/
/t2/build/
/t3/dist/
/t3/build/
/t4/dist/
/t4/build/
/t5/build/
/t5/dist/
/t6/build/
/t6/dist/
/t8/dist/
/t8/build/
/t9/dist/
/t9/build/